body, html {
    width: 100%;
    height: 1000px;
    margin: 0;
    padding: 0;
}

.App {
    background: #faf8fa;
    border: 1px solid black;
    font-family: Roboto, sans-serif;
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
}

.App__animation {
    /*margin-bottom: 100px;*/
}

.App__more {
    color: #ccc;
    width: 100%;
    padding: 20px;
    margin-bottom: 50px;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
}
.App__more:hover {
    color: #33919b;
}

.App__subPage {
    /*margin-bottom: 10px;*/
}

